<!-- Start Author -->
<section id="mu-author">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-author-area">

                    <div class="mu-heading-area">
                        <h2 class="mu-heading-title">About The Developers</h2>
                        <span class="mu-header-dot"></span>
                    </div>

                    <!-- Start Author Content -->
                    <div class="mu-author-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mu-author-image">
                                    <img src="assets/images/author.jpg" alt="Author Image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mu-author-info">
                                    <h3>About US</h3>
                                    <p>We are 3rd year BSIT web development student of Holy Angel University
                                        and we are here to advocate the people prevent the spread of covid-19 by the covid 19 case tracker. The covid 19 case tracker combines information from news articles and state & local goverment reports. to give us the most complete picture possible</p>

                                    <p>Developed under WD-301, Subject Advance Web Dynamics. This website is bult under Angular 11, Bootstrap 5, and Angular Material.</p>
                                    <img class="mu-author-sign" src="assets/images/author-signature.png" height="100" alt="Author Signature">
                                    <p>Miguel Tanhueco</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Author Content -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Author -->