<!-- Start Pricing -->
<section id="mu-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-pricing-area">

                    <div class="mu-heading-area">
                        <h2 class="mu-heading-title">Our Latest News</h2>
                        <span class="mu-header-dot"></span>
                        <p>Our news focuses only on CORONAVIRUS updates, References will be provided for the scraped news.</p>
                    </div>

                    <!-- Start Pricing Content -->
                    <div class="mu-pricing-content">
                        <div class="row">

                            <!-- Pricing Single Content -->
                            <div class="col-sm-6 col-md-4">
                                <div class="mu-pricing-single zoom">
                                    <a href="https://www.who.int/philippines/news/detail/08-05-2021-more-than-2-million-doses-of-astrazeneca-vaccines-arrive-in-the-philippines-through-the-covax-facility">
                                    <div class="mu-pricing-single-head">
                                        <img src="https://www.who.int/images/default-source/wpro/countries/philippines/covax-immunization.tmb-1366v.jpg?sfvrsn=17130f01_1" height="202" width="360" alt="">
                                        <h4>More than 2 million doses of AstraZeneca vaccines arrive in the Philippines through the COVAX Facility</h4>
                                    </div>

                                    <ul class="mu-price-feature">
                                        <li> Manila, 8 May 2021—More than 2 million doses of AstraZeneca have arrived in the Philippines from the COVAX facility, the international partnership established to ensure equitable distribution of COVID-19 vaccines around the world. This shipment is in addition to half a million doses delivered in March, and is part of the 4.5 million total doses committed to the Philippines from COVAX. </li>
                                    </ul>

                                    <div class="mu-pricing-single-footer">
                                        <a href="#" class="mu-order-btn">Learn More</a>
                                    </div>
                                    </a>

                                </div>
                            </div>
                            <!-- / Pricing Single Content -->

                            <!-- Pricing Single Content -->
                            <div class="col-sm-6 col-md-4">
                                <div class="mu-pricing-single zoom">


                                    <div class="mu-pricing-single-head">
                                        <img class="img-fluid" src="https://assets2.rappler.com/D82072D8103A4C159F68CF74899FF902/img/E006FBAD300846ECAC4A4F8BA477FBE1/social-amelioration-sap-dswd-covid-19-coronavirus-may-1-2020-001-1612432121351-644.jpg" height="202" width="360" alt="">
                                        <h4>Pandemic scars: More Filipinos to remain poor, unemployed even by 2022</h4>
                                    </div>

                                    <ul class="mu-price-feature">
                                        <li> The Philippines' poverty and unemployment rates will remain elevated even after President Rodrigo Duterte steps down from office, as the pandemic scars the labor market </li>
                                        <li> Philippine state economists see unemployment staying elevated and more people remaining below the poverty line until 2022, as the coronavirus pandemic leaves scars on the economy. </li>
                                    </ul>

                                    <div class="mu-pricing-single-footer">
                                        <a href="#" class="mu-order-btn">Learn More</a>
                                    </div>
                                    

                                </div>
                            </div>
                            <!-- / Pricing Single Content -->

                            <!-- Pricing Single Content -->
                            <div class="col-sm-6 col-md-4">
                                <div class="mu-pricing-single zoom">
                                    <a href="https://in.news.yahoo.com/philippines-logs-5-790-covid-095828622.html">

                                    <div class="mu-pricing-single-head">
                                        <img src="https://s.yimg.com/ny/api/res/1.2/OoLzVoA7OmRDGDqEKKu_Ng--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTcyMDtjZj13ZWJw/https://s.yimg.com/uu/api/res/1.2/n4g7G9QMsFRKo0AOQ2rRtw--~B/aD00NTA7dz02MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/aniin.com/1819ab9f7bb0e72815b9c5c92e49db8f" height="202" width="360" alt="">
                                        <h4>Philippines logs 5,790 new COVID-19 cases, total climbs to 1,143,963</h4>
                                    </div>

                                    <ul class="mu-price-feature">
                                        <li> Manila [Phillipines], May 16 (ANI/Xinhua): The Philippines' Department of Health (DOH) reported on Sunday 5,790 new COVID-19 infections, bringing the total number of confirmed cases in the Southeast Asian country to 1,143,963. </li>
                                        <li> The death toll climbed to 19,191 after 140 more patients died from the viral disease, the DOH said. </li>
                                    </ul>

                                    <div class="mu-pricing-single-footer">
                                        <a href="#" class="mu-order-btn">Learn More</a>
                                    </div>
                                    
                                    </a>
                                </div>
                            </div>
                            <!-- / Pricing Single Content -->


                        </div>
                    </div>
                    <!-- End Pricing Content -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing -->

<!-- Start Testimonials -->
<section id="mu-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-testimonials-area">
                    <div class="mu-heading-area">
                        <h2 class="mu-heading-title">Our Creator</h2>
                        <span class="mu-header-dot"></span>
                    </div>

                    <div class="mu-testimonials-block">
                        <ul class="mu-testimonial-slide">

                            <li>
                                <img class="mu-rt-img" src="https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.18169-9/29695255_1901005643274255_3359231081284169775_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeE8BjiavECo0NBVFqcs1RJfAhsahyi6VfkCGxqHKLpV-RmDP2SakbGn2XUiIlrwn-erKZjU6hVIzyRRlxNMY9Wm&_nc_ohc=7wcvuJytNqUAX86bFx9&_nc_ht=scontent.fcrk1-3.fna&oh=13bbc1f9c3bbb2fd54df43dbd7d26f09&oe=60C74AEC" alt="img">
                                <h5 class="mu-rt-name"> - Miguel Paolo Tanhueco</h5>
                                <span class="mu-rt-title">API Integration, Developer</span>
                            </li>

                            <li>
                                <img class="mu-rt-img" src="https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.6435-1/p200x200/60389089_2480776121941857_9031572768944029696_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=7206a8&_nc_eui2=AeHpmiteKdcZrtKihW9asKH9QfFjGMWEIjxB8WMYxYQiPIilrR422dTaSWvWiSB5tBHGbhK9QQfu7wXwAn_lfI61&_nc_ohc=IlOD2J-X2ncAX_syvQd&_nc_ht=scontent.fcrk1-3.fna&tp=6&oh=f2aaabb9a96e7384a9bd1bb60bde03ba&oe=60C85B0E" alt="img">
                                <h5 class="mu-rt-name"> - Ray Tongol</h5>
                                <span class="mu-rt-title">HTML CSS, Layout</span>
                            </li>

                            <li>

                                <img class="mu-rt-img" src="https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.6435-9/139091191_2698216047175292_8208485773746814929_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGi9dORqqEBchlagwileizBvQsh8VQXdmq9CyHxVBd2ajBYIYqk1dJbBYMBV71c-teKdg2T4RgkUCXtEj6IixK_&_nc_ohc=fvGmLxJWfRAAX8vTnFm&_nc_ht=scontent.fcrk1-3.fna&oh=06563b38fa602d28365097004c4e115c&oe=60C62016" alt="img">
                                <h5 class="mu-rt-name"> - Patricia Pamela Gonzalez</h5>
                                <span class="mu-rt-title">UI/UX Design, Content Writer</span>
                            </li>

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->