<!-- Start Contact -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">

                    <div class="mu-heading-area">
                        <h2 class="mu-heading-title">Send your concern</h2>
                        <span class="mu-header-dot"></span>
                    </div>

                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">

                        <div id="form-messages"></div>
                        <form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
                            <div class="form-group">                
                                <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                            </div>
                            <div class="form-group">                
                                <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
                            </div>              
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
                            </div>
                            <button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
                        </form>

                    </div>
                    <!-- End Contact Content -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->

<!-- Start Google Map -->
<section id="mu-google-map">
    <iframe src="https://www.google.com/maps/d/embed?mid=1iHj9oLetM0ashn-46JlVAjakyV8&hl=en" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<!-- End Google Map -->
