<header id="mu-header" class="" role="banner">
  <div class="container">
    <nav class="navbar navbar-default mu-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Text Logo -->
            <!-- <a class="navbar-brand" href="index.html"><i class="fa fa-phone" aria-hidden="true"></i> COVID.UTP</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand" href="index.html"><img class="img-fluid" src="assets/images/logo.png"></a>


          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav mu-menu navbar-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#mu-book-overview">HELP DESK</a></li>
                <li><a href="#mu-author">ABOUT US</a></li>
                  <li><a href="#mu-pricing">CURRENT ISSUES</a></li>
                  <li><a href="#mu-testimonials">RESOURCES</a></li>
                  <li><a href="#mu-contact">MESSAGE US HERE</a></li>
              </ul>
          </div>
        </div>
    </nav>
  </div>
</header>

<app-home></app-home>
<main role="main">
<app-help></app-help>
<app-about></app-about>
<app-currentissue></app-currentissue>
<app-contact></app-contact>
</main>